/* General Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #34495e;
}

/* Header Styles */
header {
    background-color: #00052d;
    color: #fff;
    padding: 10px; /* Increased padding for better spacing */
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    animation: slideIn 1s ease-out;
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}

header img {
    max-width: 100%;
    height: auto;
    max-height: 100px; /* Adjusted logo size */
}
.startpage {
    max-width: 100%;
    height: auto;
    max-height: 200px; /* Adjusted logo size */
}

header h1 {
    font-size: 2rem; /* Adjusted font size */
    margin-left: 5px; /* Removed margin for cleaner alignment */
    
}

/* Navigation Styles */
nav {
    background-color: #00052d;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: all 0.3s ease;
    position: relative; /* Added for hover effects */
    display: inline-block; /* Added for hover effects */
    padding: 5px 10px; /* Added for hover effects */
}

nav a:hover {
    color: #B7D0DF;
    transform: translateY(-3px); /* Added for hover effects */
}

/* Main Section Styles */
section {
    padding: 40px 20px;
    margin: 20px;
    background-color: #00052d;
    background-size: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center; /* Center align content */
    transition: all 0.3s ease; /* Added for hover effects */
}



.enlang {
    animation: changeBackgrounden 27s linear infinite;
}
.arlang {
    animation: changeBackgroundar 27s linear infinite;
}
.krlang {
    animation: changeBackgroundkr 27s linear infinite;
}

@keyframes changeBackgrounden {
    0%, 11%, 22% {
        background-image: url(images/background/transparent/sbg1.png);
    }
    33%, 44%, 55% {
        background-image: url(images/background/transparent/sbg4.png);
    }
    66%, 77%, 88% {
        background-image: url(images/background/transparent/sbg7.png);
    }
}
@keyframes changeBackgroundar {
    0%, 11%, 22% {
        background-image: url(images/background/transparent/sbg2.png);
    }
    33%, 44%, 55% {
        background-image: url(images/background/transparent/sbg5.png);
    }
    66%, 77%, 88% {
        background-image: url(images/background/transparent/sbg8.png);
    }
}
@keyframes changeBackgroundkr {
    0%, 11%, 22% {
        background-image: url(images/background/transparent/sbg3.png);
    }
    33%, 44%, 55% {
        background-image: url(images/background/transparent/sbg6.png);
    }
    66%, 77%, 88% {
        background-image: url(images/background/transparent/sbg9.png);
    }
}




section:hover {
    transform: translateY(-5px); /* Added for hover effects */
    border-bottom: 2px solid #2c3e50; /* Add a solid line at the bottom on hover */
}

section h2 {
    align-content: center;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 20px;
}

section p {
    color: #555;
    font-size: 1.1rem;
    line-height: 1.8;
}

/*-----------------------------------------------------------------------------*/


/* Button Style */
.englishlanguage, .arabiclanguage, .kurdishlanguage{
    all: unset;
    width: 100px;
    height: 30px;
    font-size: 21px;
    background: transparent;
    border: none;
    position: relative;
    color: #2c3e50;
    font-weight: bold;
    cursor: pointer;
    z-index: 1;
    padding: 3% 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: all 1s ease;
}

.englishlanguage::after,
.englishlanguage::before,
.arabiclanguage::after,
.arabiclanguage::before,
.kurdishlanguage::after,
.kurdishlanguage::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99999;
    transition: all .4s;
}

.englishlanguage::before,
.arabiclanguage::before,
.kurdishlanguage::before {
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
    background: #b8b9c2;
    opacity: 0.7;
    border-radius: 10px;
}

.englishlanguage::after,
.arabiclanguage::after,
.kurdishlanguage::after {
    transform: translate(10px, 10px);
    width: 35px;
    height: 35px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 50px;
}
.englishlanguage::after {
    background: url('images/enflag.svg');
    background-size: cover;
}
.arabiclanguage::after {
    background: url('images/arflag.svg');
    background-size: cover;
}
.kurdishlanguage::after {
    background: url('images/krflag.svg');
    background-size: cover;
}

.englishlanguage:hover::before,
.arabiclanguage:hover::before,
.kurdishlanguage:hover::before {
    transform: translate(5%, 20%);
    background: #00052d;
    color: #fff;
    width: 115%;
    height: 115%;
}

.englishlanguage:hover::after,
.arabiclanguage:hover::after,
.kurdishlanguage:hover::after {
    border-radius: 10px;
    transform: translate(0, 0);
    color: #fff;
    opacity: 0.30;
    width: 100%;
    height: 100%;
}

.englishlanguage:hover,
.arabiclanguage:hover,
.kurdishlanguage:hover {
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.englishlanguage:active::after,
.arabiclanguage:active::after,
.kurdishlanguage:active::after {
    transition: 0s;
    transform: translate(0, 5%);
}





/* Footer Styles */
footer {
    background-color: #00052d;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

footer p {
    margin-bottom: 5px; /* Added for spacing */
}
/* New Styles for Footer Navigation */
.footer-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Space between icons */
}

.footer-button {
    color: #fff;
    font-size: 21px; /* Adjust icon size as needed */
    text-decoration: none;
    transition: all 0.3s ease;
    width: 20px; /* Set a fixed width for the circle */
    height: 28px; /* Set a fixed height for the circle */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #b8b9c2; /* Circle border */
    border-radius: 50%; /* Make the element circular */
}

.footer-button:hover {
    color: #00052d;
    background-color: #b8b9c2; /* Change border color on hover */
}



/* Keyframe Animation for Header */
@keyframes slideIn {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    nav a {
        margin: 0 10px;
    }
}
